<!--
<p>{{sum(a,b)}}</p>
<p>{{name}}</p>


<div class="navbar">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/about">baby</a></li>
      <li><a routerLink="/services">game kids</a></li>
      <li><a routerLink="/contact">about</a></li>
    </ul>
  </div>
 

  <div class="grid-container">
    <div class="grid-item">
      <img  src="assets/img/stev.webp" alt="Image 1">
    </div>
    <div class="grid-item">
      <img src="assets/img/stev.webp" alt="Image 2">
    </div>
    <div class="grid-item">
      <img src="assets/img/stev.webp" alt="Image 3">
    </div>
    <div class="grid-item">
      <img src="assets/img/stev.webp" alt="Image 4">
    </div>
    <div class="grid-item">
        <img src="assets/img/stev.webp" alt="Image 4">
      </div>

  </div>
   -->

 <!--
  <div class="n"> <div>
    <label>Num 1:</label>
    <input type="number" [(ngModel)]="number1"> </div>
    <div>
    <label>Num 2:</label>
    <input type="number" [(ngModel)]="number2">
    </div>
    
     <div> 
        <label>Sum:</label> <span>{{sum}}</span>
    </div> <div>
    <button (click)="calculateSum()">add</button> </div>
    <div> <label>malt:</label> <span>{{malt}}</span>
    </div> <div>
    <button (click)="calculatemalt()">malt</button> </div>
    
     <div> <label>div:</label> <span>{{div}}</span>
    </div> <div>
    <button (click)="calculatediv()">div</button> </div>
    <div> <label>sub:</label> <span>{{sub}}</span>
    </div> <div>
    <button (click)="calculatesub()">sub</button> </div>
    </div>
    <br>
    <br>
    -->
   

<!--
    <p>{{name}}</p>
    <input type="text" [(ngModel)]="ll">
   <input type="text"><p>{{ll}}</p>
-->
<!--
<ul>
  <li *ngFor="let x of people;">
    {{x.name+x.age}}
    <span *ngIf="x.age>22; else y">
      old
      </span>
      <ng-template #y>
        yung
      </ng-template>

  </li>
</ul>
-->
<!--
<button  (click)="increment()">click me</button>
<p>{{counter}}</p>
-->


    <!--
    code passwordi o emaile
   <div>
    <input type="text" [(ngModel)]="name"><br>
    <input type="password" [(ngModel)]="password"><br>

    <button (click)="amed()"> test</button>
    
-->




<!--

   </div>
 
  
    <ul>
    <li *ngFor="let x of people; let i = index">
      {{i}}
      {{ x.name+x.age}} 
   </li>
   </ul>
   
    <div *ngIf="isloggdein; else notloggedin">
      <h1>welcome,user!</h1>
      <p>this is the content for legged-in users.</p>
      
    </div>
    <ng-template #notloggedin>
      <h1>welcome,user</h1>
      <p>this is guest</p>
    </ng-template> 
   
  <app-test></app-test>
   -->
 <c1></c1> 
 
